          - type: group
            widgets:
              - type: rss
                title: Example Feed
                limit: 10
                collapse-after: 5
                feeds:
                  - url: https://example.com/feed.xml
