apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - ingress.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/command
        value:
          - argocd-server
          - --insecure
    target:
      kind: Deployment
      name: argocd-server